h1 {
  color: #1096C2 ;
   text-shadow: 2px 0px 35px #0FB4EA;
}

body {
  font-size: 15pt;
  background-color: #181D24 ;
}


fieldset{
  background-color: #0D7DA2 ;
  border: 2px solid rgb(255,232,57);
  width: 400px;
  float: center;
  border-color: #000000
  
}

legend{
  background-color: #3ACD52 ;
 border-width:2px;
 border-style:solid;
 border-color:#000000;
}

fieldset.rose{
  
  background-color: #2F5270 ;
  border: 2px solid rgb(255,232,57);
  width: 400px;
  float: center;
  border-color: #000000
}

legend.rose{
  
  background-color: #358442 ;
 border-width:2px;
 border-style:solid;
 border-color:#000000;
 color: #000000
 
}
h6{
  font-family: "Lucida Console", "Courier New", monospace;
  color : #5c6267 ;
}
div.d2{
  color: #000000 ;
  
  
}


#181d24
#5c6267
#358442